.footer {
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    margin-top: 10em;
    padding-top: 1em;
    padding-bottom: 3em;
    width: 90%;
    border-top: solid #eeeeee;
}