.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    width: 90%;
    height: 5em;
    border-bottom: solid #eeeeee;
    position:-webkit-sticky;
    position: sticky;
    top:0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
}

.logo {
  width: 5em;
  height: 5em;
}