.btn-group {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-group-container {
    height: 100%;
}

.btn-toggle {
    height: 2.5em;
    font-size: small !important;
    text-align: center !important;
    border: none;
    background-color: #eee;
    overflow-x: auto !important;
    overflow: hidden;
}

.btn-toggle:hover {
    background-color: #ddd !important;
}
