.btn-group {
    /* height: 1.5em; */
    width: 100%;
    overflow-y: auto;
    /* padding: auto,0; */
    /* border: 1px solid #555; */
    border-radius: 0 !important;
}

.btn-group-container {
    height: 100%;
    /* border: 1px solid #555; */
}

.btn-toggle {
    height: 2.5em;
    font-size: small !important;
    text-align: center !important;
    border: none;
    background-color: #eee;
    overflow-x: auto !important;
}

/* .plots-container {
    border: 1px solid #555;
    border-radius: 5px;
} */



/* .btn-toggle:hover {
    background-color: #ccc;
} */


/* .btn-toggle:checked {
    background-color: blue;
} */