.table-tabs {
    max-width: 100%;
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    overflow-y: none;
    font-size: small;
}


.nav-item {
    overflow-x: scroll;
    overflow-y: hidden;
    border: solid rgb(222,226,230) 1px;
    list-style-type: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: solid white;
  }

.protein-table {
    font-size: small;
}

.long-content-cell-head {
    max-width: 4em;
    white-space: nowrap; 
    overflow-x: auto; 
}

.protein-table-cell {
    max-width: 6em;
    padding-left: 1em !important;
}

.long-content-cell-data {
    white-space: nowrap; 
    /* text-overflow: ellipsis;  */
    overflow-x: auto; 
    max-width: 8em;
}