/* .tabs-container {
    width: 100%;
} */

/* .table-tabs {
    max-width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;

} */

.table-tab {
    max-width: 5em;
    overflow-x: scroll;
}
/* .nav {
    
    overflow-x: auto;
} */

/* .nav-item {
    margin-left: 0 !important;
  } */

.protein-table {
    font-size: small;
}

/* .protein-table-head {
    color: white;
    background-color: rgb(13, 110, 253);
} */

/* .protein-table-body {
    height: 100%;
} */

.long-content-cell-head {
    max-width: 4em;
    white-space: nowrap; 
    overflow-x: auto; 
}

.protein-table-cell {
    max-width: 6em;
    padding-left: 1em !important;
}

.long-content-cell-data {
    white-space: nowrap; 
    /* text-overflow: ellipsis;  */
    overflow-x: auto; 
    max-width: 8em;
}